body,h1,h2,h3 {font-family: "Amatic SC", sans-serif}

.bgimg {
    background-image: url("img/bg_header.jpg");
    background-color: #fafafa;
    padding: 10px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    opacity: 90%;
}

.container {
    position: flex;
    vertical-align: right;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.main-title {
    font-size: 60px;
    color: #08c418fd;
    font-weight: bold;
}

.subtitle {
    color: rgb(134, 136, 150);
}

.btn {
    border-radius: 5px;
    border: 1px solid #000;
    background: rgba(230, 230, 230, 0.623);
    cursor: pointer;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 25px;
    /* max-width: 800px; */
    width: 90%;
  
}

.img { 
    width: 150px;
    height: 100px;
    border-radius: 10px;
    margin-right: 20px;
}

.item {
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
